# Python module 11

# Theory

In [22]:
# задаем дефолтную директорию локального репозитория
import os
data_path = os.path.dirname(os.getcwd())
data_path = data_path.replace('\\', '/')
display(data_path)

'C:/Users/Yarik/OneDrive/Рабочий стол/python_modules/Python_module_11'

In [ ]:
import pandas as pd

melb_data = pd.read_csv(data_path + '/CSVs/melb_data_ps.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [122]:
melb_df = melb_data.copy()
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1, inplace=False) #cols removement


total_rooms = melb_df['Bathroom'] + melb_df['Bedroom'] + melb_df['Rooms']

melb_df['MeanRoomsArea'] = melb_df['BuildingArea']/total_rooms


diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969

In [126]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['Date']

year_sold = melb_df['Date'].dt.year

print('Min year sold:', year_sold.min())
print('Max year sold:', year_sold.max())
print('Mode year sold:', year_sold.mode()[0])


melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)*100


delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
# display(delta_days.dt.days)

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df.drop(['YearBuilt'], axis=1, inplace=True)
melb_df.head()

Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,126.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707,12,46
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,79.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660,2,116
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,150.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338,3,117
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,126.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455,3,47
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,142.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969,6,2

# Задание 3.3

In [94]:
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })



def delete_columns(df, col):
    for i in col:
        if i in list(df.columns):
            df.drop([i], axis=1, inplace=True)
        else: return
    return df

    

display(delete_columns( col = ['number', 'cust_id'], df=customer_df))

   cust_age  cust_sale  cust_year_birth  cust_order
0        13       0.00             2008        1400
1        21       0.00             2000       14142
2        19       0.20             2002         900
3        21       0.15             2000        1240
4        60       0.30             1961        8430

In [101]:
# задание 3.4

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})


countries_df['mean_population'] = countries_df['population'] * 10**6/countries_df['area']
countries_df['mean_population'].mean()

np.float64(84.93080566562001)

In [137]:
# задание 4.3

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

sunday = melb_df['WeekdaySale'] == 6
saturday = melb_df['WeekdaySale'] == 5

weekend_count = melb_df[sunday] 
display(weekend_count)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding,WeekdaySale
34,Abbotsford,47 Studley St,2,h,1180000.0,S,Jellis,2016-11-27,2.5,3067,...,Yarra,-37.80160,144.99560,Northern Metropolitan,4019,18.200000,-0.280632,11,116,6
35,Abbotsford,45 Yarra St,3,h,1195000.0,SP,Jellis,2016-11-27,2.5,3067,...,Yarra,-37.80220,144.99540,Northern Metropolitan,4019,16.000000,0.032258,11,18,6
69,Airport West,10 Hilbert Rd,3,h,685000.0,S,Barry,2016-05-22,13.5,3042,...,Moonee Valley,-37.72260,144.87330,Western Metropolitan,3464,16.142857,-0.673410,5,41,6
76,Airport West,49 Roberts Rd,4,h,765000.0,S,Prof.,2016-11-27,13.5,3042,...,Moonee Valley,-37.72610,144.87850,Western Metropolitan,3464,14.000000,-0.603150,11,46,6
77,Airport West,85 Roberts Rd,4,h,900000.0,S,Harcourts,2016-11-27,13.5,3042,...,Moonee Valley,-37.72560,144.87390,Western Metropolitan,3464,14.600000,-0.622739,11,41,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12422,Wheelers Hill,17 Highwood Dr,5,h,1206000.0,S,Fletchers,2017-09-03,16.7,3150,...,NaN,-37.89856,145.17682,South-Eastern Metropolitan,7392,10.500000,-0.723077,9,47,6
12423,Wheelers Hill,6 The Woodland,4,h,1678000.0,S,Harcourts,2017-09-03,16.7,3150,...,NaN,-37.90306,145.18171,South-Eastern Metropolitan,7392,12.600000,-0.764266,9,47,6
12424,Williamstown,48 Smith Av,4,h,1630000.0,S,Williams,2017-09-03,6.8,3016,...,NaN,-37.86338,144.88322,Western Metropolitan,6380,11.454545,-0.520913,9,47,6
12425,Windsor,20 Atkinson Cl,3,t,1525000.0,PI,Marshall,2017-09-03,4.6,3181,...,NaN,-37.85670,144.99665,Southern Metropolitan,4380,15.750000,-0.086957,9,47,6
12426,Yarraville,54 Sussex St,3,h,890000.0,VB,Jas,2017-09-03,6.3,3013,...,NaN,-37.81950,144.88908,Western Metropolitan,6543,17.571429,-0.466377,9,111,6